<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}} 
        <p>To load the data from headers partials</p>
        <p>{{message}}</p>
    </body>
    <footer>
        {{>footer}}
    </footer>
</html>